@import url("https://fonts.googleapis.com/css2?family=Comfortaa");
@import url("https://fonts.googleapis.com/css2?family=Fredoka");

* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html,
body,
#root,
#roor > div {
    height: 100%;

    font-family: "Fredoka", "Comfortaa", "Arial";
}

::-webkit-scrollbar {
    display: none;
}
